[class*="span"] {
 background-color: lightgreen;
 margin-bottom: 0px;
 border-radius: 5px 5px 5px 5px;
 line-height: 80px;
 margin-left: 0px;
 text-align: center;
}
[class="span10"] {
 background-color: green;
}
.row {
  margin-left: -20px;
}
.span42 {

    height : 100px;
}
.row-fluid {
  width: 100%;
}

.row-fluid .span4 {
  width: 31.914893617021278%;
}

.page-header {

    margin: 18px 0;
    padding-bottom: 17px;
}