<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<p>
{% if logged = 'true' %}
Connecté en tant que {{pseudo}}.
{% else %}
<h3>Login</h3>
<hr>

{% if form.errors %}
	<p style="color: red;">
		Merci de corriger les erreurs {{form.errors|pluralize }} ci-dessous.
	</p>
{% endif %}

<form action="{{hote}}" method="POST">
{% csrf_token %}
<strong>Courriel</strong> : <input type="text" name="email"> </br>
<strong>Mot de passe</strong> : <input type="password" name="password"> </br>
<input type="submit" value="Connexion">
</form>

</p>

{% endif %}