<html>
<head>
 <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
 <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
  <link href="{{ STATIC_URL }}css/index.css" rel="stylesheet" type="text/css">
</head>
<script src="http://yandex.st/dojo/1.8.0/dojo/dojo.js"></script>
<style>
.input-large,
.btn-mini {
   height: 20px;
}
</style>
<body>


<img src="/media/haruhi.jpg" /><br>
<img src="{{ STATIC_URL }}haruhi.jpg" /><br>
{% for film in films %}
film.Nom
{% endfor %}

  <div class="container">

<div class="page-header">
   <h1>Mon amour pour les tigres</h1>
</div>


  <div class="row">
    <div class="span12">12 colonnes</div>
  </div>

  <div class="row">
    <div class="span12">12 colonnes</div>
  </div>
  


  <div class="row">
    <div class="span2">2 colonnes</div>
<div class="span2">2 colonnes</div>
<div class="span2">2 colonnes</div>
<div class="span2">2 colonnes</div>
<div class="span2">2 colonnes</div>
  </div>

  <div class="row">
    <div class="span12">12 colonnes</div>
  </div>

  

  <div class="row">
    <div class="span6">
<form>
        
  <fieldset>
    <div class="input-append">

                            <input name="username" maxlength="100" placeholder="Enter your username..." type="text" class="input-large" id="id_username" />


                            <input name="password" maxlength="100" placeholder="Enter your password..." type="password" class="input-large" id="id_password" />
                   
    <button class="btn btn-mini">Envoyer</button>
         </div>

  </div>
    </div>
  </fieldset>
  
</form>

  <div class="row">
    <div class="span4">4 colonnes</div>

  </div>

    <div class="row">
       <div class="span4">
   <div class="span42">4 colonnes</div>
 </div>
  </div>





</div>
  
</body>
</html>