<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Acceuil
</title>
<link href="css/styles.css" rel="stylesheet" type="text/css" />
</head>

<body id="body">
	<div id="site">
     <div id="header"></div>
     <div id="menu">
       <div id="btn"><p><strong><a href="lien1.html">Lien 1</a></strong></p></div>
		<div id="btn"></div>
        <div id="btn"></div>
        <div id="btn"></div>
        <div id="btn"></div>
      </div>
     <div id="login">
     		<div id="logtxt"><form action="" method="get"><table width="425" border="0" cellspacing="2">
       <tr>
         <td width="40">Login :</td>
         <td width="152"><label>
           <input type="text" name="Login" id="Login" />
         </label></td>
         <td width="64">Password :</td>
         <td width="151"><label>
           <input name="password" type="password" id="password" maxlength="30" />
         </label></td>
       </tr>
     </table>
</form></div>
		<div id="logticket">Nombre de Tickets: X</div>
	</div>
<div id="corps"><div id="phot1"></div><div id="phot2"></div><div id="phot3"></div><div id="phot4"></div><div id="phot5"></div><div id="phot6"></div><div id="phot7"></div><div id="phot8"></div><div id="phot9"></div>
	<div id="vidéo"><img src="images/ex_video.png" width="663" height="374" /></div>
    <div id="description">
    <div id="film">
      <p>Blabla</p>
    </div>
    <div id="descripvid">
      <p>Blabla</p>
    </div>
	</div>
    </div>
    <div id="tag"><p><strong>Tag1</strong></p></div>
    <div id="footer">
    	<div id="casting"><strong>CASTING</strong></div>
    	<div id="actor">
    	  <div id="txtact">Blabla<br />
    	    Bla
    	  </div></div>
          <div id="actor">
    	  <div id="txtact">Blabla<br />
    	    Bla
    	  </div></div>
          <div id="actor">
    	  <div id="txtact">Blabla<br />
    	    Bla
    	  </div></div>
      <div id="actor">
    	  <div id="txtact">Blabla<br />
    	    Bla
    	  </div></div>
    </div>
    <p class="cgv"><a href="cgv.html">Conditions Générale de Vente</a> - <a href="mentions.html">Mentions Légales</a> - <a href="contact.html">Contact</a></p>
</div>
</body>
</html>
