<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Avertissement</title>
<link href="css/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="avertissement">
	<div id="noir"> </div>
    <div id="boutons"><img src="images/btn.jpg" width="88" height="85" alt="dsx red" class="sortir" /><img src="images/btn.jpg" width="88" height="85" alt="dsx red" class="entrer" /></div>
    <div id="sortir">Sortir</div>
    <div id="entrer">+18</div>
</div>
</body>
</html>
